[submodule "AntiCheatReloaded"]
	path = AntiCheatReloaded
	url = https://github.com/OpenCommunity-Original/AntiCheatReloaded
[submodule "FarmControl"]
	path = FarmControl
	url = https://github.com/OpenCommunity-Original/FarmControl
[submodule "ViewDistanceTweaks"]
	path = ViewDistanceTweaks
	url = https://github.com/OpenCommunity-Original/ViewDistanceTweaks
[submodule "iShop"]
	path = iShop
	url = https://github.com/OpenCommunity-Original/iShop
[submodule "nab-configuration"]
	path = nab-configuration
	url = https://github.com/OpenCommunity-Original/nab-configuration
[submodule "Prism-Bukkit"]
	path = Prism-Bukkit
	url = https://github.com/OpenCommunity-Original/Prism-Bukkit
[submodule "LibraryForME"]
	path = LibraryForME
	url = https://github.com/OpenCommunity-Original/LibraryForME
[submodule "OpenDeathMessages"]
	path = OpenDeathMessages
	url = https://github.com/OpenCommunity-Original/OpenDeathMessages
[submodule "Retros-Lodestones"]
	path = Retros-Lodestones
	url = https://github.com/OpenCommunity-Original/Retros-Lodestones
[submodule "squaremap"]
	path = squaremap
	url = https://github.com/OpenCommunity-Original/squaremap
